<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
        
    </head>
    
    <body>
        <h1>About Us Page</h1>
         {{> header}}
        <p>{{ title }}</p>
        <img class="portrait" src="/img/banner image.jpg">
        {{> footer}}
        
    </body>
</html>
</html>